@page
@model MyClientData.Pages.Clients.IndexModel
@{
}

<br /> 
<h2>List of Clients</h2>
<a class="btn btn-primary btn-sm" href="/create">New client</a>
<table class="table">
	<thead>
		<tr>
			<th>ID</th>
			<th>Name</th>
			<th>Email</th>
			<th>Phone</th>
			<th>Address</th>
			<th>Created At</th>
			<th>Action</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var client in Model.ClientData)
		{
			<tr>
			<td>@client.id</td>
			<td>@client.name</td>
			<td>@client.email</td>
		    <td>@client.phone</td>
		    <td>@client.address</td>
		    <td>@client.created_at</td>
		    <td>
					<a class="btn btn-primary btn-sm" href="/Edit?id=@client.id">Edit</a>
			<a class="btn btn-danger btn-sm" href="/delete?id=@client.id">Delete</a>

			</td> 
			</tr>
		}
	</tbody>
</table>